@{
    ViewData["Title"] = "Info";
}
<h1>@ViewData["Title"]</h1>

<p>Admin: username: admin, pass: Abcd1234.</p>
<p>Student: username: franta, pass: Abcd1234.</p>
<p>Teacher: username: matikar, pass: Abcd1234.</p>

